body 
{
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #7b9acc;
}

button 
{
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 10px 20px;
  background-color: #FCF6F5;
  font-size: 17px;
  cursor: pointer;
}

h1 
{
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

.container {
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;    /* Vertical */
  height: 83vh;          /* Optional: full viewport height */
}